*{
    border: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #2f384d;
}

.cabecalhoFoxList{
    position: sticky;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.cabecalhoFoxList .logo{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    padding: 35px;
    gap: 10px;
}

.cabecalhoFoxList img{
    width: 70px;
    height: 70px;
}

.cabecalhoFoxList h1{
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    color: #fff;
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.cabecalhoFoxList h2{
    font-family: "Caveat", sans-serif;
    font-size: 70px;
}

.navbar ul{
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

.navbar button{
    position: fixed;
    width: 120px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    padding-top: 8px;
    text-align: start;
    font-size: 25px;
    transition: 0.3s;
    border-radius: 10px;
    transition: 0.5s;
}

.navbar #iconSair{
    font-size: 30px;
    position: absolute;
    cursor: pointer;
    top: 25%;
    right: 3%;
}

.navbar button:hover{
    cursor: pointer;
    transition: 0.5s;
    scale: 1.1;
    color: red;
}

h2{
    margin-right: 100px;
    color: #fff;
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.tasks {
    display: grid;
    grid-template-areas: "imagem lista";
}

.tasks .imagemRaposa img {
    grid-area: imagem;
}
.raposaTask{
    width: 250px;
    height: 250px;
    margin-top: 45%;
    margin-left: 30px;
    padding: 0;
}

.tasks .lista ol{
    grid-area: lista;
    width: 700px;
    height: 650px;
    list-style: none;
    margin-right: 300px;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
}

.tasks .lista ol::-webkit-scrollbar{
    width: 10px;
    background-color: #54699a;
    border-radius: 10px;
}

.tasks .lista ol::-webkit-scrollbar-thumb{
    background-color: rgb(230, 176, 68);
    border-radius: 10px;
}


.tasks .lista ol li{
    font-size: 35px;
    font-family: "Roboto", sans-serif;
    width: 400px;
    cursor: pointer;
    padding: 10px 16px;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #2f384d ;
    border-radius: 20px;
    background-color: #fff;
    transition: 0.2s;
}

.botao button.fab{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px 2px rgb(28, 28, 28);
    font-size: 35px;
    position: absolute;
    bottom: 40px;
    right: 350px;
    transition: 0.5s;
}

.botao button.fab:hover{
    background-color: rgb(181, 250, 111) ;
    scale: 1.1;
    transition: 0.5s;
}

.tasks .lista ol li.completo{
    background-color: rgb(77, 188, 77);
} 

.tasks .lista ol li.pendente{
    background-color: rgb(233, 171, 71);
} 

.tasks .lista ol li:hover{
    scale: 1.2;
    transition: 0.2s;
}

.tasks .lista p{
    margin: 4px 0;
}

.outline.corDeletar{
    color: #fff;
    background-color: rgb(53, 53, 53);
    border-radius: 20%;
    font-size: 25px;
    transition: 0.3s;
}

.outline.corDeletar:hover{
    font-size: 30px;
    background-color: rgb(204, 14, 14);
    transition: 0.3s;
    cursor: pointer;
}

ol li:hover button.corDeletar{
    display: block;
} 

button.corDeletar {
    width: auto;
    float: right;
    display: none;
}

@media (min-width: 1024px){
    .cabecalhoFoxList h1{
        font-size: 30px;
        right: 20px;
        margin-bottom: 25px;
    }

    .cabecalhoFoxList h2{
        margin-right: 120px;
    }

    .cabecalhoFoxList img{
        width: 90px;
        height: 90px;
    }

    .navbar button{
        position: relative;
        width: 130px;
        height: 40px;
    }

    .navbar #iconSair{
        font-size: 30px;
        position: absolute;
        cursor: pointer;
        top: 18%;
        right: 2%;
    }
    .tasks .lista ol li{
        width: 500px;
        font-size: 20px;
    }

    .raposaTask{
        width: 280px;
        height: 280px;
        margin-top: 45%;
        margin-left: 50%;
        padding: 0;
    }

    .botao button.fab{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: none;
        box-shadow: 2px 2px 2px rgb(28, 28, 28);
        font-size: 45px;
        position: absolute;
        bottom: 80px;
        right: 800px;
        transition: 0.5s;
    }
}

@media (max-width: 765px){

    .cabecalhoFoxList{
        position: sticky;
        margin-top: 0;
    }
    .raposaTask{
        width: 110px;
        height: 110px;
        margin-top: 550%;
        margin-left: 40%;
        padding: 0;
    }

    .cabecalhoFoxList h1{
        font-size: 20px;
    }

    .cabecalhoFoxList h2{
        margin-top: 40px;
        font-size: 30px;
    }

    .navbar button{
        position: relative;
        width: 110px;
        height: 40px;
        right: 60px;
        margin-top: 30px;
    }

    .navbar #iconSair{
        font-size: 30px;
        position: absolute;
        cursor: pointer;
        top: 45%;
        right: 5%;
    }

    .tasks .lista ol{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .tasks .lista ol li{
        width: 250px;
        font-size: 20px;
        margin: 2px;
    }
    
    .botao button.fab{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: none;
        box-shadow: 2px 2px 2px rgb(28, 28, 28);
        font-size: 45px;
        position: absolute;
        bottom: 50px;
        right: 50px;
        transition: 0.5s;
    }
}