*{
    border: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #2f384d;
}


.cabecalhoFoxList{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.cabecalhoFoxList .logo{
    display: flex;
    justify-content: space-around;
    padding: 35px;
    gap: 10px;
}

.cabecalhoFoxList img{
    width: 70px;
    height: 70px;
}

.cabecalhoFoxList h1{
    font-family: "Caveat", cursive;
    font-size: 25px;
    color: #fff;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar ul{
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

.navbar button{
    position: relative;
    width: 120px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    text-align: start;
    font-size: 25px;
    transition: 0.3s;
    border-radius: 10px;
    transition: 0.5s;
}

.navbar #iconSair{
    font-size: 30px;
    position: absolute;
    cursor: pointer;
    top: 32%;
    right: 3%;
}

.navbar button:hover{
    cursor: pointer;
    transition: 0.5s;
    scale: 1.1;
    color: red;
}

h2{
    color: #fff;
    text-align: center;
    font-size: 50px;
    
}