*{
    border: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(45deg, #e30d51, #cc23ff, #19aff0, #15ffa5);
    background-size: contain;
    background-repeat: no-repeat;
}

.cabecalho{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.cabecalho .logo{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 10px;
}

.cabecalho img{
    width: 90px;
    height: 90px;
}

.cabecalho h1{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar ul{
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

.navbar button{
    color: white;
    background-color: blueviolet;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    transition: 0.3s;
    border-radius: 10px;
    transition: 0.5s;
}

.navbar button:hover{
    cursor: pointer;
    background-color: #07ff1b;
    color: black;
    transition: 0.5s;
}

.inicio{
    display: grid;
    grid-template-areas: "textos imagem"
}

.inicio .textos{
    color: #fff;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    height: 400px;
    margin-left: 70px;
    margin-top: 25px;
}

.inicio .textos h2{
    font-family: "Boldonse" , sans-serif;
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    margin-bottom: 5px;
}

.inicio .textos h3{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    gap: 10px;
    text-align: center;
    margin-top: 5px;
}

.inicio .imagem img{
    width: 500px;
    height: 400px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 50px;
}

@media(min-width: 1024px){
    .inicio{
        margin-top: 140px;
    }
}

@media(max-width: 765px){

    .inicio{
        display: grid;
        grid-template-areas: "textos"
                            "imagem"
    }

    .inicio .textos h2{
        font-size: 30px;
        margin-right: 60px;
    }
    
    .inicio .textos h3{
        font-size: 24px;
        padding: 30px;
        margin-bottom: 2px;
        margin-right: 60px;
    }

    .inicio .imagem img{
        position: absolute;
        width: 400px;
        height: 300px;
        margin-left: 50px;
        bottom: 70px;
    }
}