*{
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(45deg, #e30d51, #cc23ff, #19aff0, #15ffa5);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.cabecalho{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.cabecalho .logo{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 10px;
}

.cabecalho img{
    width: 90px;
    height: 90px;
}

.cabecalho h1{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar ul{
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

.navbar button{
    color: white;
    background-color: blueviolet;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    transition: 0.3s;
    border-radius: 10px;
    transition: 0.5s;
}

.navbar button:hover{
    cursor: pointer;
    background-color: #07ff1b;
    color: black;
    transition: 0.5s;
}

.inicio{
    display: grid;
    grid-template-areas: "textos imagem"
}

.inicio .textos{
    color: #fff;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    height: 400px;
    margin-left: 70px;
    margin-top: 180px;
}

.inicio .textos h2{
    font-family: "Boldonse" , sans-serif;
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    margin-bottom: 5px;
}

.inicio .textos h3{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    gap: 10px;
    text-align: center;
    margin-top: 5px;
}

.inicio .imagem img{
    width: 500px;
    height: 400px;
    padding: 10px;
    margin-top: 180px;
    margin-right: 50px;
}

@media(max-width: 765px){
    .cabecalho{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding-top: 1px;
        padding-bottom: 0.5px;
        top: 0px;
    }
    .cabecalho img{
        margin-top: 10px;
    }

    .navbar ul{
        margin-top: 0;
        font-size: 18px;
        gap: 10px;
        padding: 1px;
    }
    
    .navbar button{
        padding: 10px;
        font-size: 20px;
    }

    .inicio{
        display: grid;
        grid-template-areas: "textos"
                            "imagem"
    }

    .inicio .textos{
        margin: 0;
        margin-top: 15px;
        bottom: 240px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .inicio .textos h2{
        font-size: 20px;
    }
    
    .inicio .textos h3{
        font-size: 15px;
        padding: 20px;
    }

    .inicio .imagem img{
        width: 300px;
        height: 250px;
        display: block;
        margin: auto;
    }


}